@model List<Passenger>
@{
    Layout = "~/Views/Admin/AdminLayout.cshtml";
}
<h2 class="text-center mb-5">Manage Passengers</h2>

<div class="row mb-5">
    <div class="col">
        <a class="btn btn-primary" asp-controller="Admin" asp-action="CreatePassenger">Create New Passenger</a>
    </div>
</div>

<table id="driversTable" class="table">
    <thead>
        <tr>
            <th>Passenger ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Date Registered</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Passenger in Model)
        {
            <tr>
                <td>@Passenger.PassengerID</td>
                <td>@Passenger.FirstName</td>
                <td>@Passenger.LastName</td>
                <td>@Passenger.Email</td>
                <td>@Passenger.PhoneNumber</td>
                <td>@Passenger.DateRegistered.ToString("dd/MM/yyyy")</td>
                <td style="white-space:nowrap">
                    <a class="btn  btn-sm" asp-controller="Admin" asp-action="EditPassenger" asp-route-id="@Passenger.PassengerID"><i class="bi bi-pencil-square"></i></a>
                    <form method="post" asp-controller="Admin" asp-action="DeletePassenger" style="display:inline;" onsubmit="return confirm('Are you sure you want to delete this Passenger?');">
                        <input type="hidden" name="passengerId" value="@Passenger.PassengerID" />
                        <button type="submit" class="btn  btn-sm"><i class="bi bi-trash"></i></button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Initialize DataTables -->
<script>
    $(document).ready(function () {
        $('#driversTable').DataTable({
            paging: true,
            searching: true,
            ordering: true,
            info: true
        });
    });
</script>
